.getOtpButton:hover {
  background-color: rgb(107, 107, 231);
  transition-timing-function: ease-in;
  transition-duration: 300ms;
}
.getHintSpan:hover {
  color: blue;
  transition-timing-function: ease-in;
  transition-duration: 250ms;
}
