.changeNumberSpan:hover {
  color: #5d5fef;
  transition-timing-function: ease-in;
  transition-duration: 250ms;
}
.confirmOtpButton:hover {
  background-color: rgb(107, 107, 231);
  transition-timing-function: ease-in;
  transition-duration: 300ms;
}
.confirmOtpButton {
  background-color: #5d5fef;
}
.resendOtp:hover {
  color: #5d5fef;
  transition-timing-function: ease-in;
  transition-duration: 250ms;
}
.logoName {
  font-family: "Spectral", serif;
  color: #5d5fef;
  font-weight: bolder;
  font-size: 1.2rem;
}
.formColor {
  background-color: #f8f8ff;
}
